#textogeral{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 55px;
    border: 2px solid white;
    border-color: rgb(35, 42, 117);
    background-color: rgb(35, 42, 117);
    margin: 560px;
    margin-top: 50px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 600px;
    transform: translate(-100px, 0px);
}

#quadradoesquerda {
    width: 350px;
    height: 1000px;
    background-color: #dfdfdf;
    transform: translate(10px, -650px);
    border-radius: 60px;
}
#textoarea{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(20, 25, 82) ;
    margin-left: 40px;
    padding: 30px;
}
#botaop{ 
    margin-left: 45px;
    border: 1px solid rgb(20, 25, 82);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 270px;
    height: 60px;
    text-align: center;
    margin-top: -30px;
}
#botaonegocios{
    text-align: center;
    color: rgb(15, 19, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid rgb(15, 19, 65) ;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 190px;
    padding: 6px;
}
#botaoprogramacao{
    text-align: center;
    color: rgb(15, 19, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid rgb(15, 19, 65) ;
    border-radius: 50px;
    margin-left: 40px;
    margin-right: 165px;
    padding: 6px;
}
#botaomarketing{
    text-align: center;
    color: rgb(15, 19, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid rgb(15, 19, 65) ;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 190px;
    padding: 6px;
    transform: translate(150px, -100px);
}
#botaocomunicacao{
    text-align: center;
    color: rgb(15, 19, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 1px solid rgb(15, 19, 65) ;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 150px;
    padding: 6px;
    transform: translate(143px, -100px);
}
#botaoprincipal{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(15, 19, 65) ;
    border-radius: 50px;
    margin: 50px;
    margin-top: -80px;
    padding: 15px;
}
#botaomeuscursos{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(15, 19, 65) ;
    border-radius: 50px;
    margin: 50px;
    margin-top: -20px;
    padding: 15px;
}
#botaomeuaprendizado{
   text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(15, 19, 65) ;
    border-radius: 50px;
    margin: 50px;
    margin-top: -20px;
    padding: 15px; 
}
#botaoassinaturas{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(15, 19, 65) ;
    border-radius: 50px;
    margin: 50px;
    margin-top: -20px;
    padding: 15px;
}
#botaoconfiguracoes{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(15, 19, 65) ;
    border-radius: 50px;
    margin: 50px;
    margin-top: -20px;
    padding: 15px;
}

#quadrado1 {
    width: 450px;
    height: 280px;
    background-color: #111111;
    transform: translate(500px, -1440px);
    margin-top: -80;
    border: 1px solid #FFBB00;
    border-radius: 25px;
}
#textoq1{
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -4;
}
#nomes{
    color: white;
    opacity: 30%;
    margin-left: 20;
    margin-top: -10;
    font-family: Arial, Helvetica, sans-serif;
}
#estrelas{
    color: #FFBB00;
    margin-top: -15px;
    margin-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#preco{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -10;
    margin-left: 22px;
}
#imagem2{
    margin: 12px;
    margin-left: 18px;
    border-radius: 10px;
}

#quadrado2 {
    width: 450px;
    height: 280px;
    background-color: #111111;
    transform: translate(970px, -1642px);
    margin-top: -80;
    border: 1px solid #FFBB00;
    border-radius: 25px;
}
#textoq2{
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -4;
}
#nomes{
    color: white;
    opacity: 30%;
    margin-left: 20;
    margin-top: -10;
    font-family: Arial, Helvetica, sans-serif;
}
#estrelas{
    color: #FFBB00;
    margin-top: -15px;
    margin-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#preco{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -10;
    margin-left: 22px;
}
#imagem2{
    margin: 12px;
    margin-left: 18px;
    border-radius: 10px;
}

#quadrado3 {
    width: 450px;
    height: 280px;
    background-color: #111111;
    transform: translate(500px, -1540px);
    margin-top: -80;
    border: 1px solid #FFBB00;
    border-radius: 25px;
}
#textoq3{
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: -4;
}
#nomes{
    color: white;
    opacity: 30%;
    margin-left: 20;
    margin-top: -10;
    font-family: Arial, Helvetica, sans-serif;
}
#estrelas{
    color: #FFBB00;
    margin-top: -15px;
    margin-left: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#preco{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -10;
    margin-left: 22px;
}
#imagem3{
    margin: 12px;
    margin-left: 18px;
    border-radius: 10px;
}

#elemento{

    transform: translate(1000px, -1900px);
}