Style.css

*{ 
    margin: 0;
    padding: 0;
    border-sizing: border-box;
   

}
h1{
    color: greenyellow;
    font-size: 40px;
    font-style: italic;
}

#exemplo-background {
  background-image: url(./Background.png);
  background-size: cover; /* Faz a imagem cobrir todo o espaço disponível */
  height: 900px; /* definir uma altura */
}


body{ 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ; 
}

.textlabel{

    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #3A3939;

}
.campotexto{

    padding: 15px;
    border: 1px solid blue;
    border-radius: 50px;
    outline: none;
    transition: 0.33s;

}

.campotext:focus{

    border-color: blue;
    box-shadow: 0,0,5px;

}
 
.form{

    background: white;
    height: 500px;
    width: 350px;
    padding: 80px;
    border-radius: 37px;
    border: 20px solid rgb(38, 38, 38);
    box-shadow: 80px 80px 80px #000001;
    display: flex;
    flex-direction: column;

}

#imagem {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;;
    width: 250px;           /* Define a largura */
    height: 150px;           /* Mantém a proporção original */
    border-radius: 10px;    /* Arredonda as bordas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
}



#tituloform{

    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #0015FF;

}

#rodape1{

    color: #3A3939;

}

#rodape2{

    color: #3A3939;
    text-align: center;
    margin-top: -35px;

}

#acadastro {
    color: inherit; 
    text-decoration: none;
    
} 
#asobrenos {
    color: inherit; 
    text-decoration: none;
    
} 

#rodape3{
    
    color: #3A3939;
    text-align: right;
    margin-top: -35px;

}

#bnenviar{

    margin-top: 5px;
    padding: 12px;
    background: blue;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.8s;

}

#bnenviar:hover {

    background: rgb(0, 0, 183)



}

.rodape {
    display: flex;                 /* Ativa o Flexbox */
    justify-content: center;       /* Centraliza os links horizontalmente */
    align-items: center;           /* Centraliza verticalmente (caso tenham alturas diferentes) */
    gap: 60px;  
    
    margin-top: 20px;           /* Define a distância exata entre os links */
}

a {
text-decoration:none;
 color: #3A3939;
    text-align: right;
}